/* html { 
    display: block;
    background: url(../images/bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

body {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    transition: all .5s linear;
    background-color: transparent;
}

#navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#mainslide {
  margin-top:56px;
}